ul#tab-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul#tab-nav li {
  display: inline-block;
  padding: 10px;
}

ul#tab-nav li a {
  text-decoration: none;
  color: black;
}

ul#tab-nav li a.tab-content-active {
  background-color: #ccc;
}

div#tab-content {
  width: 100%;
  height: 100px;
}

div.tab-content {
  display: none;
}

div.tab-content-active {
  display: block;
}
