*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* body */
body {
  /* background-color: #b6c9ea; */
  background-color: white;
  font-family: poppins, sans-serif;
  display: flex;
  flex-direction: column;
}
/* header css */
header .container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: black;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  height: 60px;
}
header .logo p {
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
}
header nav ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 1rem;
}
header nav li {
  list-style-type: none;
}
header nav li a {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 300;
  color: black;
  transition: all 0.2s ease-in-out;
}
header nav li a.diff {
  background-color: #5edfff;
}
header nav li:hover a {
  background-color: #5edfff;
  color: white;
}
/* main */
main {
  display: flex;
  flex-direction: column;
}
main #home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 20px;
}
header .bg {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  height: 100%;
}
main #home .bg {
  position: absolute;
  z-index: -2;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
}
main #about .bg {
  position: absolute;
  z-index: -3;
  right: 0;
  left: 0;
  /* top: 0; */
  width: 100%;
}
main h1 {
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
}
main h2 {
  margin-top: 20px;
  max-width: 800px;
  min-width: 250px;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
}
main h2 .diff {
  color: #3e63ff;
}
main #home .home-content {
  max-width: 800px;
}
main #home .home-image {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
main .bg-home {
  text-align: right;
  position: absolute;
  z-index: -1;
}
main #about .about-image .bg {
  position: absolute;
  left: 0;
  z-index: -1;
  height: 100%;
}
main #home .home-image img {
  max-width: 100%;
  min-width: 50%;
}
main #home .home-paragraph-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 200px;
}
main #home .home-paragraph p {
  margin-top: 15px;
  max-width: 375px;
  min-width: 250px;
  color: #6a6d6f;
  font-size: 16px;
  font-weight: 400;
}
main #home .home-paragraph-logo img {
  max-width: 60%;
  min-width: 50%;
}
main #home .home-button {
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 25px;
}
main button {
  border: 3px solid #6c89ff;
  border-radius: 15px;
  background-color: #d1e1f0;
  color: #6c89ff;
  padding: 0.75rem 1.25rem;
  font-size: 16px;
}
main button:hover {
  background-color: #6c89ff;
  color: white;
}
main #home .home-download-button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 25px;
  max-width: 30%;
}
main #home .home-download-button img {
  max-width: 90%;
  min-width: 150px;
}
main #service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  padding: 100px 20px;
  gap: 20px;
}
main #service .services-list {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
main #service .services-content {
  background-color: #bcdefa;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  align-items: center;
  max-width: 600px;
  mim-width: 250px;
  gap: 30px;
  font-weight: 500;
}
main #service .services-image img {
  max-width: 150%;
  min-width: 125%;
}
main #about {
  /* background-color: #001793; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 100px 20px;
}
main #about h2 {
  color: white;
}
main #about .about-image img {
  max-width: 100%;
  min-width: 25%;
}
main #about .about-content {
  max-width: 400px;
  min-width: 250px;
  text-align: right;
  flex-direction: column;
  display: flex;
  gap: 20px;
}
main #about .about-content p {
  color: white;
  font-size: 16px;
  line-height: 1.25;
}
main #about .about-content button {
  background-color: #6c89ff;
  color: white;
}
/* footer css */
footer {
  background-color: #001793;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;
  color: white;
}
footer .left-footer ul {
  margin-top: 15px;
  list-style-type: none;
}
footer .left-footer li {
  margin-top: 5px;
}
footer .left-footer li a {
  text-decoration: none;
  color: white;
}
footer .left-footer .logo {
  display: flex;
  align-items: center;
}
footer .left-footer img {
  height: 40px;
}
footer .left-footer p {
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
}
footer .right-footer .logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .right-footer p {
  margin-top: 10px;
  text-align: right;
}
footer .right-footer img {
  height: 70px;
  margin-left: 10px;
}
/* tablet */
@media screen and (max-width: 1270px) {
  main #home .home-paragraph-logo {
    display: none;
    width: 0;
  }
}
/* mobile */
@media screen and (max-width: 768px) {
  main,
  main #home,
  main #about,
  header .container,
  header .home-button,
  header .home-download-button,
  footer {
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
  }
  header nav {
    margin-top: 40px;
  }
  main #home .home-image,
  main #home .home-paragraph-logo,
  main #about .about-image {
    order: -1;
    text-align: center;
  }
  main #home .home-image img,
  main #about .about-image img {
    max-width: 40%;
  }
  footer {
    align-items: center;
  }
  footer .left-footer ul {
    text-align: center;
    margin-bottom: 15px;
  }
  footer .right-footer p {
    text-align: center;
  }
  footer .right-footer img {
    height: 50px;
    margin: 0;
  }
  aside {
    display: none;
  }
}
